[2016-01-13 06:42] liu-yuhuan opened #1 "can't build success"
got something wrong，can't build success

my react native version is 0.17.0

tatsuo769/Library/Developer/Xcode/DerivedData/sushi_project-dcfcgmcxmrxxqtepwgrfknmuzvua/Build/Products/Debug-iphonesimulator/sushi_project.app/main.jsbundle --assets-dest /Users/tatsuo769/Library/Developer/Xcode/DerivedData/sushi_project-dcfcgmcxmrxxqtepwgrfknmuzvua/Build/Products/Debug-iphonesimulator/sushi_project.app
b

[2016-01-14 04:56] enu-kuro commented on #1
That's because "autobind-decorator" isn't installed. I fixed and sent pull request.

[2016-01-15 03:54] niftylettuce commented on #1
thank you!!!!  publishing new version to npm now

[2016-01-15 03:54] #1 closed

[2016-01-15 03:55] niftylettuce commented on #1
`v0.0.6` on NPM, thanks @enu-kuro

[2016-01-31 03:57] artem-russkikh opened #3 "Portal closes modal while component is updating"
Only on android

Is it problem of react-native-loading-spinner-overlay?

If so, seems to be that problem in this line https://github.com/niftylettuce/react-native-loading-spinner-overlay/blob/master/src/index.js#L93
It should be:
[code]

Make PR?

[2016-02-04 03:29] pewh opened #4 "Show warning on RN 0.19"
It seems RN 0.19 change the behavior of how Portal work. I got this error when running on RN 0.19.
`Warning: Each child in array or iterator should have a unique "key" props. Check the render method of "Portal".`

[2016-02-19 09:03] skyride99 opened #5 "How to allow for space at the bottom for TabbarIOS"
At the bottom I need to show the tabbar, and allow for navigation.

The modal blocks the entire screen. Not allowing for click events. Changing the background and container do not help. The Modal is blocking the whole screen.

[2016-02-19 14:02] bcalik commented on #4
Same here on 0.20.

[2016-02-26 19:49] FladeX commented on #4
Same problem, 0.20

[2016-03-03 10:06] peng051410 commented on #5
+1

[2016-03-03 11:09] dayAlone opened #6 "Key prop warning"
![Warning](http://s0s0.ru/gyazo/03.03.16/890a21fbd3f05b38358bda431c9750a8c1b339.png)

[2016-03-08 14:29] tal952 commented on #6
+1

[2016-03-08 14:30] tal952 commented on #4
+1

[2016-03-09 15:07] niftylettuce commented on #6
Really not sure where this error comes from in the codebase, do you guys?

https://github.com/niftylettuce/react-native-loading-spinner-overlay/blob/master/src/index.js

[2016-03-09 15:09] niftylettuce commented on #5
@skyride99 Ah, this is for progress indicators that completely block and wait until something finishes in order to hide it.

[2016-03-09 15:09] niftylettuce commented on #4
@pewh Where did they change behavior, and how?

[2016-03-09 15:17] niftylettuce commented on #3
make a PR please

[2016-03-09 16:36] dayAlone commented on #6
If add random key to parent View in _renderSpinner, this warning no longer displayed

[2016-03-09 16:48] niftylettuce commented on #6
@dayAlone Can you submit a PR?

[2016-03-17 20:00] #3 closed

[2016-03-17 20:02] niftylettuce commented on #5
PR is welcome to add this feature!  @skyride99 @peng051410 I'd love to add you guys as collaborators/owners of this repo.  More support the better.

[2016-03-18 01:05] skyride99 commented on #5
I have used the other modal box and it works. react-native-modalbox. Is that possible to put in the project? A pull request?

[2016-03-24 15:31] niftylettuce commented on #5
yeah send a PR over!

[2016-04-04 14:57] niftylettuce commented on #6
Closed per #8

[2016-04-04 14:57] #6 closed

[2016-04-04 14:57] niftylettuce commented on #4
Closed per #8

[2016-04-09 20:08] liu-yuhuan commented on #4
could anyone help me, how to update the fixed package?
my package without src folder even i run npm update react-native-loading-spinner-overlay
warning message show up all the time, please help me~
thanks

[2016-04-09 23:41] niftylettuce commented on #4
@liu-yuhuan What version do you have in `package.json`?  What version is in the `./node_modules/react-native-loading-spinner-overlay/package.json` file?  Also, can you share a screenshot?

[2016-04-10 08:11] liu-yuhuan commented on #4
my react native version is 0.20
and package info as below

"name": "react-native-loading-spinner-overlay",
"version": "0.0.6",
"description": "The only pure React Native Native iOS and Android loading spinner (progress bar indicator) overlay",
"main": "lib/index.js",

[2016-04-10 16:07] niftylettuce commented on #4
Can you try to upgrade to `v0.0.8`?  Do it with `npm install --save react-native-loading-spinner-overlay@latest`.  The latest version in NPM is `v0.0.8`, and you seem to have only `v0.0.6`.

[2016-04-10 16:07] #4 closed

[2016-04-10 17:12] #5 closed

[2016-04-11 07:33] liu-yuhuan commented on #4
thank you!!!!

[2016-04-23 03:30] yulinho opened #9 "show double circle where setState({visable:true}) , after setState({visable:false})"
show double circle where setState({visable:true}) , after setState({visable:false}),but just one spinner element.
bug happened on android  5.1.1.
![567467526914258829](https://cloud.githubusercontent.com/assets/8208362/14759052/c90d4bb0-0946-11e6-8316-755cdec72956.jpg)

[2016-04-29 02:44] alexhsieh-handy commented on #9
same issue

[2016-05-06 02:47] penjual opened #10 "Warning: ReactNative.createElement is deprecated. Use React.createElement from the "react" package instead."
react-native@0.25
node_modules/react-native-loading-spinner-overlay/lib/index.js

Please update it with the latest react-native version.

Thank you

[2016-05-17 04:18] niftylettuce commented on #10
@penjual can you confirm this fixes the issue for you? https://github.com/niftylettuce/react-native-loading-spinner-overlay/pull/11 -- try to `npm install react-native-loading-spinner-overlay@latest`.

[2016-05-17 04:18] #10 closed

[2016-05-17 04:19] niftylettuce commented on #9
can either of you submit patch?

[2016-05-19 09:19] TUNER88 opened #12 "missing Portal.js - react-native 0.26"
Seems like `Portal.js` is no more part of react-native package.
```const Portal = require('react-native/Libraries/Portal/Portal.js');```
https://github.com/niftylettuce/react-native-loading-spinner-overlay/blob/master/src/index.js#L26

![simulator screen shot 19 may 2016 11 17 11](https://cloud.githubusercontent.com/assets/1565397/15388704/8a2f10d2-1db3-11e6-806f-915d2bc6a1ce.png)

[2016-05-22 02:44] rajkissu commented on #12
I have the same issue as well, +1

[2016-05-23 07:07] KaanErkol commented on #12
+1

[2016-05-23 23:20] ivpusic commented on #12
+1

[2016-05-24 08:07] duketwo commented on #12
+1, any workaround?

[2016-05-24 17:19] rajkissu commented on #12
I removed the Portal dependency in PR #13, looks like Modal works just fine with Android in RN 0.26

[2016-05-24 20:51] ryanhanwu commented on #12
+1

[2016-05-25 17:19] alexjhannan commented on #12
+1

[2016-05-26 12:49] jeveloper commented on #12
+1

[2016-05-26 21:28] csandeep commented on #12
+1

[2016-05-30 22:29] yusufseyrek commented on #12
+1

[2016-05-31 21:44] radik909 commented on #12
+1

[2016-06-01 02:02] #12 closed

[2016-06-01 02:02] niftylettuce commented on #12
Released in v0.1.1, sorry for delay, my GitHub notifications were screwed up

[2016-06-01 18:04] jeveloper commented on #12
Thank you kindly !

[2016-06-23 12:30] sibelius opened #15 "there is no need to transpile code on react-native"
react-native packages do not need to be transpiled to es5

[2016-06-24 11:42] bfarrgaynor opened #16 "Can't load spinner after upgrading to 0.26"
Hi,

I just upgraded my React project to 0.26.3 and after removing and re-adding the latest package I can no longer get this project to run.

<img width="386" alt="screenshot 2016-06-24 07 39 32" src="https://cloud.githubusercontent.com/assets/1213836/16336875/d204374c-39de-11e6-9fde-4c9af07e26db.png">

What I'm running
[code]

Usage in my component:

[code]

[2016-06-24 13:59] niftylettuce commented on #16
@bfarrgaynor Can you try using `npm install react-native-loading-spinner-overlay@0.1.1`?

[2016-06-24 14:01] bfarrgaynor commented on #16
This seems to have been fixed by upgrading to 0.28. Calling this closed.

[2016-06-24 14:01] #16 closed

[2016-07-06 03:09] abeikverdi opened #17 "Element type is invalid"
I get this error on RN v27:
Element type is invalid;: expected a string (for built-in components) or a class/function (for composite components) but got undefined: check the render method of Spinner.

And this is my spinner in render:
<Spinner visible={this.state.visible} />

[2016-07-06 10:59] nfrolov commented on #17
There should be major/minor version bump, because 0.1.2 is broken on RN older than 0.28 . Had to force version 0.1.1.

[2016-07-06 13:59] niftylettuce commented on #17
Sorry I thought I did do a major bump.  I will add deprecation notice, try to unpublish last version, and bump major version.

[2016-07-06 14:21] niftylettuce commented on #17
I have requested to unpublish version 0.1.2 here https://github.com/npm/npm/issues/13297.

I have also added a deprecation notice to 0.1.2 that says:

I have also published version 0.2.x to NPM and here on GitHub.

[2016-07-06 14:21] #17 closed

[2016-07-06 14:22] niftylettuce commented on #15
@sibelius I have resolved this in 0.2.0.

[2016-07-06 14:22] #15 closed

[2016-07-06 15:18] abeikverdi commented on #17
Perfect! nice job

[2016-07-06 15:31] niftylettuce commented on #17
Sorry that I caused this guys 😦

[2016-07-06 16:20] sibelius commented on #15
Tks

[2016-07-07 02:14] Jeiwan opened #19 "0.2.0 version on npmjs is broken"
[code]

[2016-07-07 02:40] niftylettuce commented on #19
See 0.2.1 https://github.com/niftylettuce/react-native-loading-spinner-overlay/pull/18

[2016-07-07 02:40] #19 closed

[2016-07-07 08:32] whs opened #20 "Unexpected token due to decoration"
[code]

Using react native 0.28.0 spinner overlay 0.2.1.

I think due to the library no longer get compiled, the stage0 babelrc is now required in library users.

[2016-07-07 08:59] mvaivre commented on #20
+1 same here

[2016-07-08 01:33] Jeiwan commented on #20
Install `babel-plugin-transform-decorators-legacy` and add it to `.babelrc`
[code]

[2016-07-08 03:46] slayrbear commented on #20
I commented out line 52 // @autobind and it seems to be working. Is this a viable solution?

[2016-07-08 04:22] Jeiwan commented on #20
No, commenting out @autobind is not a viable solution, since you're editing source codes of a third-party package. If you reinstall npm packages, build the app from a CI or other computer, it'll be broken again.
You should install the plugin I mentioned in my previous message.

[2016-07-08 04:24] niftylettuce commented on #20
I don't think we even need autobind anymore, can someone submit a PR?  I only have mobile, but I have ssh so I could publish a new version if I had a PR!

[2016-07-08 04:27] slayrbear commented on #20
@Jeiwan Sorry, I meant a viable solution as to submit a pull request to comment out line 52 //@autobind. @niftylettuce seems to think that it's not needed anymore.

[2016-07-08 04:33] Jeiwan commented on #20
@niftylettuce Done https://github.com/niftylettuce/react-native-loading-spinner-overlay/pull/21

[2016-07-08 05:31] neerajdotname commented on #20
I'm running into same issue.

@Jeiwan any update on when https://github.com/niftylettuce/react-native-loading-spinner-overlay/pull/21 will be merge and new version will be shipped.

[2016-07-08 05:32] neerajdotname commented on #20
Sorry. Pinged wrong person.

[2016-07-08 07:09] begger commented on #20
The module should ship its babelrc file to npm

[2016-07-08 15:19] niftylettuce commented on #20
Np one min @neerajdotname

[2016-07-08 15:20] niftylettuce commented on #20
See version 0.2.2 in NPM, I've added deprecation notice to 0.2.1 and will be requesting to un-publish it from NPM support.  Try `npm i --save react-native-loading-spinner-overlay@latest`!

[2016-07-08 15:20] #20 closed

[2016-07-08 15:21] niftylettuce commented on #19
See https://github.com/niftylettuce/react-native-loading-spinner-overlay/issues/20#issuecomment-231388519

[2016-07-08 15:21] niftylettuce commented on #17
See https://github.com/niftylettuce/react-native-loading-spinner-overlay/issues/20#issuecomment-231388519

[2016-07-08 15:21] niftylettuce commented on #16
See https://github.com/niftylettuce/react-native-loading-spinner-overlay/issues/20#issuecomment-231388519 @bfarrgaynor

[2016-07-09 13:35] danielbm opened #22 "Error on build"
Hi. I am getting this error, which seems related to #20

I am using react native 0.28.0, and react-native-loading-spinner-overlay 0.2.2.

Apparently the fix for #20 did not work for me. Am I doing something wrong?

[2016-07-10 04:46] niftylettuce commented on #22
Sorry, we need to put `babel-preset-stage-0` in `dependencies` I believe.  In the meanwhile, you can simply do `npm i --save-dev babel-preset-stage-0` to fix this.

[2016-07-10 20:44] slayrbear commented on #22
any idea of when this can be fixed?

[2016-07-10 21:03] slayrbear commented on #22
For a temporary fix for this issue in your React Native project, you actually want to run the command `npm install babel-preset-react-native-stage-0 --save` and add .babelrc file your root project directory with `{
  "presets": ["react-native-stage-0"]
}`

More information here https://github.com/skevy/babel-preset-react-native-stage-0.

[2016-07-10 21:27] niftylettuce commented on #22
What is the preferred approach here?  I was given the suggestion to not compile out a lib folder from the src directory, but I'm really not sure how to support the community without doing so.  Should I remove the `.babelrc` file?  Is it even needed?

[2016-07-11 18:36] niftylettuce commented on #22
See release v0.2.3 on NPM, `npm i --save react-native-loading-spinner-overlay@0.2.3`.  Thank you!

[2016-07-11 18:37] danielbm commented on #22
Thanks @niftylettuce and @slayrbear !

[2016-07-12 12:17] luisfuertes commented on #22
I have the v0.2.3 and react-native v0.28.0 and same error.

[2016-07-13 03:38] deju commented on #22
@slayrbear It works for me.

[2016-07-13 18:20] slayrbear commented on #22
Very weird. It was working for me, now it's not.

@deju Can you confirm if this is working for you once more? Make sure you restart the package manager, etc and try again.

@niftylettuce Any ideas to permanently fix this? My commit should have gotten the error fix by adding babel-preset-react-native-stage-0 as a dev dependency to the package.

Anyways, the temporary fix I mentioned earlier in this

[2016-07-19 09:41] luisfuertes commented on #22
Some news?

[2016-07-21 15:21] faizan-tariq-confiz commented on #22
I am getting the same error.
Used npm i --save react-native-loading-spinner-overlay@0.2.3
and .babelrc file already exists
Any suggestion to resolve this issue????

[2016-07-25 01:53] munzur commented on #22
@faizan-tariq-confiz
npm -i babel-preset-react-native-stage-0 --save-dev

i think this will solve your problem.

[2016-07-25 05:09] faizan-tariq-confiz commented on #22
I have already tried this, and its not working

[2016-07-26 09:14] ivpusic commented on #22
+1

[2016-07-26 09:30] luisfuertes commented on #22
I did @slayrbear response and fixed it:
[code]

[2016-07-29 08:47] tuxtux00 commented on #22
Hi there,
Will a permanent fix come for this issue?

Regards

[2016-07-31 16:09] niftylettuce commented on #22
Taking a look here..

[2016-07-31 17:49] niftylettuce commented on #22
See release v0.3.0, install with `npm i --save react-native-loading-spinner-overlay`.

[2016-07-31 17:49] #22 closed

[2016-07-31 18:00] niftylettuce commented on #22
I just tested this out on latest version of React Native and also took this screenshot showing this is now working as of `v0.3.0` without any extra steps needed.  Sorry about that guys, I had been distracted with another more prioritized project.  If someone wants to have collaborator status on here and NPM for future updates, I would gladly share it.  Thank you for reporting the issue @danielbm

[2016-07-31 18:00] niftylettuce commented on #22
<img width="393" alt="screen shot 2016-07-31 at 1 58 47 pm" src="https://cloud.githubusercontent.com/assets/523141/17278267/30ccf61e-5727-11e6-8b61-c0a81452312d.png">

[2016-07-31 19:53] niftylettuce commented on #9
Does this still occur?  If so let me know and I'll re-open.

[2016-07-31 19:53] #9 closed

[2016-07-31 19:53] niftylettuce opened #24 "request for collaborator: add react-native-mock tests"
looking for a collaborator/contributor to add this

[2016-08-08 11:21] davidjb commented on #5
This would be good for working with a navbar (eg with https://github.com/aksonov/react-native-router-flux); being able to leave space [at the top] & still interact with the controls.  Will see about a PR, unless you were close @skyride99?

[2016-08-10 00:12] Chris-Petty commented on #24
Just want to throw out there that Jest recently put out experimental RN support, so that might be something to look into alternatively (probably better long term as it matures). I haven't had a chance to use it yet and don't have time at the moment to help here unfortunately.

http://facebook.github.io/jest/blog/2016/07/27/jest-14.html#experimental-react-native-support

[2016-08-10 00:21] Chris-Petty opened #25 "Wrong orientation of modal dimensions in landscape (android)"
![screen shot 2016-08-10 at 12 16 13 pm](https://cloud.githubusercontent.com/assets/7684221/17537894/763d9904-5ef4-11e6-9133-9c0a124e099d.png)

I gave it a red background for eye sore testing. So my app runs in landscape mode only. Using this component the dimensions of the spinner/modal don't appear to be respecting that - looks like it renders portrait dimensions at 0,0 coordinates. The Spinner

[2016-08-17 19:55] enapupe opened #26 "thanks"
Thank you!
I had no issues implementing it on my app, it just works as expected, very easy to use..

[2016-09-15 23:00] omrihq opened #27 "Is it possible to have a custom gif/icon for loading?"

[2016-09-19 12:58] niftylettuce commented on #27
I'm sure you could fork this and add that feature!  That'd be awesome.

[2016-09-19 21:45] KelvinEC opened #28 "Some times cause app crash."
Some times when try to change visibility to false, app crashes with follow error:

`*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Could not locate shadow view with tag #98'
*** First throw call stack:
(
    0   CoreFoundation                      0x000000010a74d34b __exceptionPreprocess + 171
    1   libobjc.A.dylib                     0x000000010965d21

[2016-10-01 16:18] jjzazuet opened #29 "Handling back buton behavior on Android"
Hi. Very cool component!

I have a question. Currently, when my application is showing the spinner component (for now just setting it always to `visible` as a learning example) and the user hits the back button, the spinner will disappear and allow me to interact with the underlying elements in the UI.

Now, if I change something in the UI that causes a re-render, then the spinner controll willl r

[2016-10-06 09:11] nehajoshi90 commented on #25
I got the same issue.
 Also the overlay does get displayed but the spinner was not displayed in lollipop but worked perfectly fine in marshmallow device. What can be the issue?

[2016-10-06 09:15] nehajoshi90 commented on #25
I got the same issue.
Also the overlay does get displayed but the spinner was not displayed in lollipop but worked perfectly fine in marshmallow device. What can be the issue?

[2016-10-06 11:13] Arkanine opened #30 "Non-stop spinner."
Sometimes spinner not stops even when visible param receive "true".

[2016-10-06 13:28] bhushanjawle commented on #25
Same issue. @Chris-Petty were you able to resolve this. If yes, can you please share your approach here.

[2016-10-06 13:29] niftylettuce commented on #25
I'll gladly accept a PR and another maintainer here!  My time with RN is super limited for the next bit of time 😦

[2016-10-06 13:30] niftylettuce commented on #29
Thanks for your feedback.  I'm not sure what's going on here - I haven't the time to test and I don't even know if my XCode simulator is still installed.  I'll gladly accept a PR and another maintainer here!  My time with RN is super limited for the next bit of time 😦

[2016-10-06 13:30] niftylettuce commented on #28
Does this still occur?

[2016-10-06 13:31] niftylettuce commented on #26
So glad to hear.  Check out what I'm working on now! https://github.com/crocodilejs/crocodile-node-mvc-framework

[2016-10-06 13:31] #26 closed

[2016-10-06 13:42] KelvinEC commented on #28
Some times. Im using a workaround at this moment.

[2016-10-06 13:44] KelvinEC commented on #28
It is occurring during a change of state from Hide to Show or vice-versa. In some moments, i change the state of visible variable and the spinner not change visibility.

[2016-10-07 04:06] Chris-Petty commented on #25
@bhushanjawle No sorry. My colleague made a fork of RN to make animations that looped properly (and didn't lag the function that was taking long enough to warrant the indicator) and created a loading modal for us. In that process, didn't come across this problem.

Unfortunately that doesn't help this repo.

Obviously having a fork of RN isn't preferable if it can be avoided, though. So an npm modu

[2016-10-07 04:12] Chris-Petty commented on #25
All that said, a possible trail towards a solution might be here:

https://corbt.com/posts/2016/03/16/detecting-orientation-in-react-native.html

[2016-10-07 14:41] comountainclimber commented on #30
Im experiencing the exact same issue after upgrading to react-native 34.1... The spinner works as expected most of the time but then fails to turn off under certain circumstances forcing me to exit the app - this appears to only occur on iOS

[2016-10-07 16:29] comountainclimber commented on #30
UPDATE: downgrading from react-native 34.1 => .33 solved the issue... it doesnt seem to have anything to do with the `react-native-loading-spinner-overlay`package but rather an update to the ActivityIndicator API which I dont currently have time to track down at the moment

[2016-10-11 08:25] sergiocloud commented on #30
same issue here

@comountainclimber isn't good idea downgrading react-native to fix a component bug

[2016-10-12 15:09] comountainclimber commented on #30
@sergiocloud I think you would agree its better than having the entire application non functional

[2016-10-25 06:16] norikt commented on #30
I suspect that the cause is setting Modal `visible` to false not working...

[2016-10-31 08:32] milesegan commented on #28
@KelvinEC What workaround are you using? I'm seeing something like this too.

[2016-10-31 12:52] KelvinEC commented on #28
So, @milesegan The Workaround not work. I removed the library completely and start using another strategy.

[2016-11-07 00:10] b8ne opened #31 "Optional text display"
Feature Request: add optional text prop ie, 'Loading...' or 'Signed In!'.

[2016-11-09 21:14] #31 closed

[2016-11-10 08:30] b8ne commented on #27
Is this still wanted? I have a bit of time over the next few days.  Only learning RN now but simple packages like this help the learning curve so am happy to help where I can.

[2016-11-10 08:32] omrihq commented on #27
That would be great. I haven't had a chance to sit down on this because it's just not pressing for my project, but it would definitely be a great learning project if you want to take on it!

[2016-11-11 19:54] mvnnn opened #33 "spinner takes more time while page switching"
[code]
How to decrease spinner load time.

[2016-11-15 06:39] b8ne commented on #30
Hey guys can you post your implementation or steps to reproduce?

[2016-11-15 07:45] b8ne commented on #29
hey @jjzazuet how did you go with this? I just had a quick look, react native does provide a onBack listener, however it will depend on your implementation.  ie. if you have multiple listeners or nested scenes/navigation the experience may vary.  It would also need to bind to your containers state, and not this package. Because of this I wouldnt recommend implementing a method specific to this pac

[2016-11-16 17:10] jjzazuet commented on #29
Hey @b8ne, so what I ended up doing was wrapping `Spinner` under my app specific component (which is connected to the Redux state), and then just intercepting the Android back event with the `BackAndroid` api offered by Facebook. So yeah I think it makes sense to close this issue report. Thanks for your help!

[2016-11-16 17:10] #29 closed

[2016-11-22 11:56] damir-sirola commented on #30
Might be related to https://github.com/facebook/react-native/issues/10471 ?

[2016-11-24 12:55] prithsharma commented on #28
Any updates on this, this is happening quite frequently for me.
Although I'm using 0.2.3 right now - could this be something that got fixed in later versions?

[2016-11-24 18:49] gsavvid commented on #30
I have the same issue. In random cases but quite often the spinner won't disappear even though I set `visible` to false. I'm using RN 0.33.0. It happens only in iOS whereas it works perfectly fine in Android.

[2016-11-24 22:35] lucianomlima opened #35 "TextContent doesn't appear"
My installed packages:

[code]

My Component reder method:

[code]

Only appear the ActivityIndicator.

[2016-11-29 10:49] b8ne commented on #30
Hey @gsavvid sorry ive been working on my apps backend lately so havent looked at much RN stuff.        Just spent a bit of time looking into it and im tending to agree with @damir-sirola that its related to the iOS issue of not updating UI correctly after state change.  Ill have a play around tomorrow :)

[2016-11-29 13:18] gsavvid commented on #30
I also think it's related to Modal. I've implemented a workaround using ActivityIndicator in a View and the problem seem to have been resolved but I don't think it's such a nice solution.

[2016-11-29 17:12] monotv commented on #35
Seems like the npm registry entry does not represent the current version in this repository.

[2016-11-30 11:36] SandroMachado opened #36 "Publish `0.4.0` release to NPM"
The release `0.4.0` is not available at the NPM.

[code]

[2016-11-30 17:36] niftylettuce commented on #36
Just published it

On Nov 30, 2016 6:36 AM, "Sandro Machado" <notifications@github.com> wrote:

[2016-11-30 17:47] SandroMachado commented on #36
@niftylettuce thanks! I also did a [PR](https://github.com/niftylettuce/react-native-loading-spinner-overlay/pull/37), please let me know WDYT.

[2016-11-30 17:50] #36 closed

[2016-12-01 17:21] mattotodd commented on #30
+1

[2016-12-01 17:52] niftylettuce opened #38 "LOOKING FOR NEW MAINTAINER"

[2016-12-02 00:51] SandroMachado commented on #38
@niftylettuce since I am using this library, I can handle it. Please let me know WDYT.

[2016-12-14 08:53] gillesBzk commented on #30
+1

[2016-12-15 08:55] ithieund opened #39 "Overlay turned into grey when applying the theme for Android"
Hi,
This plugin is really good, I'm using it in my project.
But when I implemented the Chat page with Gifted Chat plugin, I need to apply the theme for Android to make the chat display properly.
See this issue: https://github.com/FaridSafi/react-native-gifted-chat/issues/200

But, after applying that theme. The overly turned into grey, not opacity any more.
<img width="170" alt="overlay error" src

[2016-12-28 16:07] brascene opened #40 "Spinner size"
Hi! Is there an option to decrease spinner size? e.g. to place it in a smaller modal window?
e.g. if I put it inside modal, it is shown over whole screen, can its size be reduced?

Thanks!

[2016-12-29 09:52] niftylettuce commented on #38
okay whats your NPM username @SandroMachado

[2016-12-29 10:37] SandroMachado commented on #38
Hi @niftylettuce, my username at NPM is `sandromachado`.

[2016-12-30 06:04] niftylettuce commented on #38
@SandroMachado you now have owner access on NPM - thanks!

[2016-12-30 06:04] #38 closed

[2016-12-30 14:22] SandroMachado commented on #35
The text feature was only introduced in the version `0.4.0`, you are targeting the version `0.3.0`. You need to change the version in your package `json` to `0.4.1`.

[2016-12-30 14:22] #35 closed

[2016-12-30 14:25] SandroMachado commented on #33
Can you please be more specific? To control the spinner visibility you just need to use the `visible`props.

[2016-12-30 18:25] lucianomlima commented on #35
@SandroMachado thanks. I'll update.

[2017-01-03 15:48] prithsharma commented on #28
@niftylettuce any idea on this one?

[2017-01-05 22:29] prithsharma commented on #30
Any update on this?

[2017-01-06 14:13] nickrobinson352 commented on #28
having same issue too !

[2017-01-06 21:54] niftylettuce commented on #28
@SandroMachado can you help here

[2017-01-07 15:16] SandroMachado commented on #28
This library does not use native code, so the issue is probably in RN.

I am using this library with RN 0.39.0 and RN 0.40.0 and I were not able to reproduce this issue.

Again, I believe that this is a RN issue and not an issue in the library, at least based in the crashlog.

Can someone create a test project that reproduces this?

[2017-01-07 15:22] SandroMachado commented on #39
@ithieund to an activity in android be transparent (like a modal activity) it is required some changes in the activity theme, usually just extend the default android `Theme.Translucent`works. Probably changing the theme changes the RN modal view.

Can you test in your code show a transparent modal view? Check the documentation here.

[2017-01-07 15:32] SandroMachado commented on #40
Hi @brascene,

so do you want to apply this component to only a specific part of the screen?

[2017-01-07 15:35] SandroMachado commented on #27
Closed by #37

[2017-01-07 15:35] #27 closed

[2017-01-07 15:39] SandroMachado commented on #25
This is a RN issue: https://github.com/facebook/react-native/issues/7708 and it was fixed in RN 0.37.0.

@Chris-Petty can you please confirm?

[2017-01-09 03:05] Chris-Petty commented on #25
@SandroMachado Thanks for pointing this out. I've updated a branch of our project to RN 0.38.0 and and threw this overlay onto a random page. Seems to work fine!

I'm happy enough to close this issue.

[2017-01-09 03:05] #25 closed

[2017-01-09 10:27] SandroMachado commented on #25
Great 👍

[2017-01-10 10:56] brascene commented on #40
Hi @SandroMachado , sorry for delay, and yes, I would like to apply it in e.g. small pop-up window.

[2017-01-10 17:33] SandroMachado commented on #40
Unfortunately using this library to do that is not possible. This library uses the `Modal` component from RN, that basically is a new `Scene` that is pushed over the current view filling whole the screen.

[2017-01-10 17:33] #40 closed

[2017-01-15 01:46] PavSidhu opened #41 "Spinner not supposed with Modal"
I found 2 issues when using the Spinner component:

- If a Spinner is within the same parent as a Modal, then the spinner will not show.
- If a Spinner is within a Modal, then I have issues with changing the visibility of the modal.

[2017-01-18 15:48] RobTS commented on #28
Having problems myself at the moment, the app is sometimes crashing on startup and my error matches this description: https://github.com/facebook/react-native/issues/10845

I use the spinner very early in the application lifecycle, maybe it has to do with that. I can't say for sure the reason for that is actually this library, but as there was a similar issue open, I thought I'd attach mine here.

[2017-01-27 22:58] comountainclimber commented on #30
Any updates on this?? Has anyone found any work arounds currently running rn 39.0 with "react-native-loading-spinner-overlay": "0.4.1" and this issue seemingly occurs completely randomly

[2017-01-30 18:18] comountainclimber commented on #30
I can confirm it is definitely related to https://github.com/facebook/react-native/issues/10471

You will only ever see this issue when attempting to combine Alert component with the busy spinner...

[2017-02-02 02:01] niftylettuce commented on #30
Same issue here, with `Alert` in combination on later versions of RN, still an issue.

[2017-02-02 02:03] niftylettuce commented on #30
Here's a temporary fix everyone (just wrap it with a `setTimeout` of like `100` ms, seems to work for me hahaha)....

[code]

cc @comountainclimber @prithsharma @gillesBzk @mattotodd @gsavvid @b8ne @damir-sirola @norikt @sergiocloud @Arkanine

[2017-02-09 09:07] lprhodes commented on #28
I'm seeing this too - it looks to be a timing thing, I would guess some kind of race condition with the state somewhere.

I find that using a timeout as shown below helped to prevent this error and also prevented occurrences when the spinner overlay doesn't get removed.

[code]

[2017-02-10 03:51] WillSmithInChina commented on #28
@KelvinEC  upgrade react-native to 0.41.0 , it works fine !

[2017-02-10 10:02] lprhodes commented on #28
Nope, it doesn't on 0.41 sorry

________________________________
From: WillSmith <notifications@github.com>
Sent: Friday, February 10, 2017 2:51:16 PM
To: niftylettuce/react-native-loading-spinner-overlay
Cc: Luke Rhodes; Comment
Subject: Re: [niftylettuce/react-native-loading-spinner-overlay] Some times cause app crash. (#28)

@KelvinEC<https://github.com/KelvinEC> upgrade react-native to 0.41.0

[2017-02-20 09:21] WillSmithInChina commented on #30
finally, I solve this problem as following:
`export default class Loading extends Component{

    constructor(props){
        super(props);
        this.state={
            visible:this.props.visible
        };
        this._show=this._show.bind(this);
        this._hide=this._hide.bind(this);
    }

    render(){
        return(
            <Modal
                animationType={'none'}

[2017-02-20 09:23] WillSmithInChina commented on #28
finally, I solve this problem as following:
--------------------------------------------------------------------------
`export default class Loading extends Component{

    constructor(props){
        super(props);
        this.state={
            visible:this.props.visible
        };
        this._show=this._show.bind(this);
        this._hide=this._hide.bind(this);
    }

    render(){
        r

[2017-02-20 10:25] lprhodes commented on #28
I quite likely missed something here (looking at it through email) but this looks no different to a how you'd set it up normally?
________________________________
From: WillSmith <notifications@github.com>
Sent: Monday, February 20, 2017 7:23:55 PM
To: niftylettuce/react-native-loading-spinner-overlay
Cc: Luke Rhodes; Comment
Subject: Re: [niftylettuce/react-native-loading-spinner-overlay] Some ti

[2017-02-20 12:34] luisfuertes commented on #30
I have this issue with rn v0.39.2

![captura de pantalla 2017-02-20 a las 13 33 22](https://cloud.githubusercontent.com/assets/18212615/23125269/311cec88-f771-11e6-998c-131220fc462a.png)

`Animated: `useNativeDriver` is not supported because the native animated module is missing. Falling back to JS-based animation. To resolve this, add `RCTAnimation` module to this app, or remove `useNativeDriver`

[2017-02-20 14:02] urska19 commented on #29
Hi.

I know this issue is closed for a while now, but maybe following comment will still help someone. When back button on Android is pressed, Spinner disappears, because of the Modal's prop onRequestClose, which is set to [close the Modal](https://github.com/niftylettuce/react-native-loading-spinner-overlay/blob/master/src/index.js#L130). Using `onRequestClose={() => {}}` instead, will prevent fr

[2017-02-21 07:39] ithieund commented on #28
Same for me.
App crash after sometimes showing spinner when calling fetch() and hiding spinner when fetch() done.

*** Assertion failure in __33-[RCTUIManager setFrame:forView:]_block_invoke(), /node_modules/react-native/React/Modules/RCTUIManager.m:440
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Could not locate shadow view with tag #1092'
*** First

[2017-02-21 07:46] ithieund commented on #30
Same for me,
Upgrading to 0.4.1 does not help.

[2017-02-21 09:06] deepaksisodiya commented on #30
@niftylettuce thanks :)

[2017-03-07 22:55] pwoltman commented on #30
Another workaround, assuming you are having the issue of the spinner not dismissing as desired when an Alert has been used on iOS, is to update the visible property when dismissing the Alert itself.

For example:

[code]

I add the cancelable: false so that Android users can't dismiss without clicking the OK, though this issue doesn't seem to exist on Android so its likely unnecessary.

[2017-03-10 14:42] vomchik commented on #24
@niftylettuce  I agree with @Chris-Petty. Jest it's more a preferable tool for testing. I will try to write some test in the near future.

[2017-03-10 14:43] niftylettuce commented on #24
that'd be awesome and greatly appreciated @vomchik - more help the better

[2017-03-12 09:05] efratyo opened #43 "[IOS] Behavior is not as expected on Landscape"
When screen's orientation is Landscape-
while spinner is displayed, orientation suddenly changes to Portrait.
Then when spinner is gone, orientation changes back to Landscape again.

[2017-03-13 10:33] vomchik commented on #24
I started to write test. You can assign this issue to me.

[2017-03-13 12:05] niftylettuce commented on #24
@vomchik Hey, I invited you as a collaborator - once you accept, I can assign this issue to you, thanks again.

[2017-03-13 12:08] vomchik commented on #24
Cool, when i finish i will create PR.

[2017-03-16 21:58] ywongweb commented on #41
Similar problem here after upgrading RN to 0.42
Using react-native-router-flux 3.38.0
Showing the spinner as a `modal`

[2017-03-16 23:02] PavSidhu commented on #41
@ywongweb My solution to this was to create a custom component using React Native's inbuilt [ActivityIndicator](https://facebook.github.io/react-native/docs/activityindicator.html) which has position absolute and with it's z-index set to a high value.

[2017-03-17 04:54] ddeanto opened #44 "Don't collapse keyboard when spinner is triggered"
Is there a way to keep the keyboard from collapsing when the spinner overlay turns on? I believe this is causing this https://github.com/facebook/react-native/issues/10845

[2017-03-23 00:39] GeoffreyPlitt opened #45 "Allow ignoring of Android Back button?"
We use this spinner and it works great; but we noticed Android users sometimes press the Back Button and this hides. Is there a way to configure it to ignore Android back-button? We don't seem to be able to control this from our code.

[2017-03-23 11:38] gsavvid commented on #45
I just opened a new [pull request](https://github.com/niftylettuce/react-native-loading-spinner-overlay/pull/46) for this.

[2017-03-24 08:37] gsavvid commented on #44
It looks like a fix for this is expected to be included in RN 0.43.

[2017-03-30 07:14] jmknoll commented on #28
Same issues here. RN v0.36.0.

I have the spinner inside of a Modal, and 100% of the time when I set visible to false it causes app to crash.

[2017-04-05 15:30] niftylettuce commented on #45
See 0.4.4 and the updated Readme docs regarding `cancelable` prop (set to false by default).

[2017-04-05 15:30] #45 closed

[2017-04-19 20:13] tbarsbay opened #47 "Spinner shows even when I'm not on the screen it belongs to"
I have a native Android Activity with four tabs/Fragments in a ViewPager. Only one of the Fragments is written in React, and that's the view that has this Spinner. However, the Spinner shows up and takes the full screen even when I'm on another Fragment/tab. In other words, the Spinner is getting rendered on top of native UI for a screen that it doesn't belong to.

[2017-05-07 13:46] ghost opened #50 "Spinner stops spinning after some few seconds"
I tried the spinner and the works the way i want it to, but the issues is that, it stops spinning after a few seconds, tho it is still visible on the page.

[2017-05-17 14:33] crazywako commented on #47
Same here

[2017-05-25 07:36] saeropark commented on #30
mine works. if anyone needs.

basically mine will spin until data is fully loaded.

[code]

Dynamic JSON url finish loading, the spinner will stop. hope it helps.

[2017-06-01 07:14] Thyiad commented on #28
+1, rn 0.42

[2017-06-01 07:14] Thyiad commented on #28
It crush on release mode

[2017-06-01 07:19] cenkakin commented on #28
This is related with RN issue which is mentioned above. It is fixed and released on v0.43.3. I didn't face crashes after that version.

https://github.com/facebook/react-native/issues/10845#issuecomment-292907366

[2017-06-01 07:21] Thyiad commented on #28
Yes, just finde commit here: [https://github.com/facebook/react-native/commit/5873a228f41bca763c35c470375a9f3cb36f80ab](url)

Trying upgrade to 0.44 now.

[2017-06-01 09:07] tatva-nisarg commented on #50
Got any solution?

[2017-06-01 10:51] SandroMachado commented on #28
Closed by https://github.com/facebook/react-native/issues/10845#issuecomment-292907366

[2017-06-01 10:51] #28 closed

[2017-06-02 05:06] tatva-nisarg commented on #30
Any updated on this?

[2017-06-02 05:31] niftylettuce commented on #30
Is there a particular version this broke on?  Or react native version?

On Jun 1, 2017 11:06 PM, "Nisarg Thakkar" <notifications@github.com> wrote:

[2017-06-02 07:06] tatva-nisarg commented on #30
I am using
React native : 0.39.2
React native Cli : 1.3.0

I am try to debug you file and i found that model was not close while visibility is false any idea about it?

[2017-06-08 00:09] aterribili commented on #30
Im using
React native: `0.43.3`

When the Spinner receives a `true` and after a while a `false`, it doesn't stop.

[2017-07-03 11:51] vicmpen opened #51 "Different Behaviours between platforms"
Hey, thanks for this module!

My setup consists of react v.15.4.2, react native 0.41.0 and react-native-loading-spinner-overlay@0.5.0.

My root Component is a navigator. For each scene it renders the appropriate component and the spinner e.g.

[code]

where renderSpinner is

[code]
Also the method that defines the animation is :

[code]
and this.animation is :

[code]
The problem I face **only on

[2017-07-06 20:14] moeinrahimi opened #53 "AccessibilityInfo not found after installing module"
hi
just after installing this moulde I'm getting this error
[code]

[2017-07-10 14:49] marlon407 opened #54 "Spinner size too small on a tablet."
Hi guys, fist of all, thanks for this lib!

My setup consists of react v16.0.0-alpha.6, react native 0.44.2 and react-native-loading-spinner-overlay@0.5.1.

I am testing my Android App in a device with screen resolution of 1920x1200 tvdpi, and for this resolution, the spinner size seems too small!

![screenshot_20170710-113423](https://user-images.githubusercontent.com/4960566/28023913-a20e2288-65

[2017-07-13 06:21] VincentChow commented on #41
same problem, confilict with the "react-native-modalbox".When use the Redux store to control the display of another component which is react-native-modalbox's modal, the spinner's display will be affected.I think both two component use the same level of window & maybe solve it use @PavSidhu 's method

[2017-07-25 06:56] xinwanggit opened #55 "why the listView don't appear after use the spinner ??everyone can help?"
I want to do:when switch to this page, visible===true, the spinner will exists.  then when the fetch get the urls,the spinner disappear..  But why the listView can't appear, it's nothing

constructor(props) {
    super(props);

    this.state = {
      index:this.props.data,
      urls:null,
      visible:true,
.....

  componentDidMount(){
    InteractionManager.runAfterInteractions(()=>{
      c

[2017-07-25 07:15] #55 closed

[2017-07-25 07:16] xinwanggit commented on #55
I solved it

[2017-08-11 09:56] FacuAcosta commented on #47
I'm having the same issue, any solutions out there?

[2017-08-18 08:24] niftylettuce commented on #54
@marlon407 Are you using `size` prop and setting it to large?

[2017-08-18 08:25] niftylettuce opened #57 "SEEKING MAINTAINER"
Looking for someone to be collaborator + help me maintain this.  I don't use React Native too intensely right now.

[2017-08-18 16:17] marlon407 commented on #54
Hi @niftylettuce , thanks for your response.

I managed that passing a number as param instead of `large`. Passing the string `large`, the spinner remained small. According to this documentation (http://facebook.github.io/react-native/releases/0.44/docs/activityindicator.html), passing a number to the ActivityIndicator  size prop was the only option I could make work.

[2017-09-04 12:59] TarikFojnica commented on #47
Same here.

[2017-09-05 03:58] mealbarracin10 commented on #30
i am using
react-native-cli: 2.0.1
react-native: 0.46.1

and don't stop spinner, Any updated on this ?

[2017-09-06 06:46] zptlwin commented on #53
Hello moeinrahimi,

How do u solve this error?
I also got that error.

Thanks,

[2017-09-06 07:15] moeinrahimi commented on #53
I didn't find any proper way to solve this issue, at last I just created a new react-native app and copied my project folders and files in it, I don't know why this happens but i think it's related to using yarn and npm at once in one project

[2017-09-06 07:15] #53 closed

[2017-09-06 10:20] TarikFojnica commented on #47
I discovered that if you are using **react-navigation** and have Stack Navigation nested under Drawer Navigation (my case), the component life cycle will break, and it will never unmount, but new screens will be pushed to the top. This can cause Spinner to show up on screens and components it doesn't belong to. It technically does, because the component never unmounted.

[2017-09-12 23:47] jbolter commented on #28
This is still happening with RN 0.45.1 to me.  When I remove the spinner the problem seems to go away but I haven't spent a ton of time debugging.  I agree that it seems to be timing based since it is not consistent.

[2017-09-13 06:23] AlmogRnD commented on #57
I would be intrested add me

[2017-09-17 02:42] huangtubiao opened #58 "JSON value 'normal' of type NSString cannot be converted to a YGValue. Did you forget the % or pt suffix?"
When I set the "normal" size, I get this error.
[code]

[2017-09-18 12:25] Mbotes commented on #47
@TarikFojnica this is the same issue i've had with it, I am also using react-navigation.

[2017-09-19 01:21] jmknoll commented on #28
@jbolter I spent a bit of time debugging this issue a couple of months ago and, iirc, it was related to dismissing the modal containing the activity indicator while the indicator is still visible. I couldn't find a workaround, so I threw together a simple component which addressed the problem by showing/hiding the activity indicator directly. https://github.com/jmknoll/react-native-overlay-spinner

[2017-09-20 20:12] jbolter commented on #28
@jmknoll Thanks! I'll give your lib a try since I would like the background overlay still which I don't think I can get with the ActivityIndicator directly.

[2017-09-21 03:31] jmknoll commented on #28
@jbolter Great. If you run into any problems just open up an issue over
there and I’ll try to get it addressed in a timely manner.

--

Jameson Knoll
+86 185.0168.0182
@JamesonKnoll

On September 21, 2017 at 04:16:15, jbolter (notifications@github.com) wrote:

@jmknoll <https://github.com/jmknoll> Thanks! I'll give your lib a try
since I would like the background overlay still which I don't think

[2017-09-21 03:33] jmknoll commented on #28
@jbolter Great. If you run into any problems just open up an issue over there and I’ll try to get it addressed in a timely manner.

[2017-09-22 23:26] weslley39 commented on #47
@TarikFojnica this is happening for me too. Any solution ?

[2017-09-25 20:25] TarikFojnica commented on #47
@Mbotes @weslley39 Not really a solution because I did not have time to dig deeper into the issue, but you can always go back to use DrawerNavigator only, without nesting StackNavigator. That will solve this specific issue but you will loose the StackNavigator features.

I would be happy to hear a real solution too because this is not a particular **react-native-loading-spinner-overlay**, but rath

[2017-09-25 20:55] tbarsbay commented on #47
I should add that I was experiencing this issue and was *not* using react-navigation in my project.

[2017-09-26 07:53] TarikFojnica commented on #47
@tbarsbay You can test if your `componentWillUnmount` function works properly in the component containing the spinner (or the main screen component). If does not, that is where the problem lies and you can track it from there.

I think the origin of the problem is the same. It's just that something else causes it in your case.

[2017-09-26 19:38] jpca999 opened #59 "is there a way we can show the existing screen in the background and just the spinner on top of it ?"
![image](https://user-images.githubusercontent.com/1026325/30880416-8b050bd0-a2d0-11e7-9ef0-307f0134d2bd.png)

Here it keeps the old screen there , it just adds the spinner on the screen

![img_0666](https://user-images.githubusercontent.com/1026325/30880500-c5342ec6-a2d0-11e7-9d48-b95bab310a0c.PNG)

[2017-09-28 11:29] TheRusskiy commented on #41
ended up using my own component with activity indicator and a whole screen view without modal

[2017-10-07 23:44] pcooney10 commented on #59
@jpca999 if using `react-navigation`, try setting the `cardStyle` `backgroundColor` to `'rgba(0,0,0,0)`. Or in general, make sure your new screen has an opaque background so the previous stack / route can stay visible.

[2017-10-18 10:04] fahadhaq opened #61 "Spinner not hiding when using with alert"
Hi, Having an issues if I display the spinner and then call my api, when I get back the result from the api I change my state to hide the spinner. The problem is that if I show an alert to display the error the spinner doesnt hid. It just keeps spinning and cant cancel or anything.

Here is my code

[code]

Can some one please let me know what I am doing wrong? if i dont have the alert the spinner

[2017-10-25 09:37] Daky commented on #61
I will suggest you try to wrap "alert" with setTimeout().

setTimeout(() => {
        Alert.alert(I18n.t('MESSAGE'),I18n.t('ACCOUNT_OR_PASSWORD_ERROR'))
 }, 100);

[2017-10-25 11:46] rupalpatel0008 commented on #61
@Daky I have put the setTimeout and its still not working

[2017-10-28 00:19] morfsys opened #62 "How to use animation property?"
So I am trying to do `animation={fade}` but it throws an error that reads `Cant find variable: fade`
My complete code looks like this
`<Spinner visible={true} animation={fade} />`

What am I doing wrong?

[2017-10-28 20:24] fahadhaq commented on #61
the problem isn't the alert box. The spinner does not stop when I show the alert box. I have tried the above but its not working.

[2017-11-03 10:15] lasuax opened #63 "Showing statusbar even it's hidden in navigation"
Hi there. I've react-native-navigation installed and my login page's statusBar is hidden for immersive look. When the Spinner shows up (while waiting response from my webservice), the status bar becomes visible with a white background. How can I avoid this happening?

[2017-11-04 16:53] devendrabhandari commented on #62
You are not setting animation props correctly.

Here is the example:
<Spinner visible={true} animation=**{“fade”}** />

[2017-11-06 12:47] mvsiva4u opened #64 "I want this loader to be used in Sagas can you suggest"
I have to use the loader in Sagas in a react native application. can you please suggest

[2017-11-08 21:39] #61 closed

[2017-11-08 21:39] #59 closed

[2017-11-14 00:51] Sonblind commented on #30
This issue still exists. I am not using an alert, and the Activity Indicator spins for ever after the component that rendered it has unmounted. Does anyone have a solution to this problem?

I'm using react-native: `0.48.4`

[2017-11-14 02:01] Sonblind commented on #30
I tried building my own, and the issue is that the RN `Modal` component is never dismissed. This happens one out of five times. Any ideas for how to fix this?

[2017-11-14 02:04] niftylettuce commented on #30
This solution does not work? @Sonblind @mealbarracin10 @tatva-nisarg

<https://github.com/joinspontaneous/react-native-loading-spinner-overlay/issues/30#issuecomment-276845098>

[2017-11-14 02:08] Sonblind commented on #30
@niftylettuce I am not using an Alert. I am changing the navigator.

[2017-11-15 10:01] Daky commented on #63
Since this spinner use <Modal> to pop up the loading, consider taking a look at the following discussion
https://github.com/facebook/react-native/issues/7474
status bar issue is not fixing yet.

[2017-11-18 23:26] Sonblind commented on #30
@niftylettuce The issue is that the react component will sometimes unmount before unmounting the modal component inside of this library.

Solution:
---------
Add the loading screen at the root level and control it by a global store vs having multiple loading spinner components inside the children. This ensures that the parent component is always in memory and can unmount the modal component inside

[2017-11-23 09:43] husnainafzal86 commented on #63
Check solution proposed by @Traviskn on https://github.com/facebook/react-native/issues/7474 Working for me like a charm!

[2017-11-24 06:29] lasuax commented on #63
Seems like setting styles.xml as
`<style name="AppTheme" parent="Theme.ReactNative.AppCompat.Light.NoActionBar.FullScreen">
      </style>`
fixes it for as @Traviskn have mentiones. Thanks @Daky & @husnainafzal86

[2017-11-24 06:29] #63 closed

[2017-11-30 11:30] Dhrupal commented on #47
Any solution for it?

[2017-12-02 20:43] michaelstokes commented on #53
Regards this, I just ran `npm install react-native --save` and it fixed it.

[2017-12-31 09:35] derakhshanfar commented on #30
same issue for me

[2018-01-17 21:16] jose920405 commented on #28
Same issue here in `"react-native": "0.51.0"`

[2018-01-25 14:48] mrgcohen commented on #30
Does `{ loading <Spinner /> } ` rather than `<Spinner visible={loading} />` work?

[2018-02-01 05:55] hrishiakhade commented on #54
<Spinner    size={60}/>
 try this

[2018-02-05 15:19] aouaki commented on #30
It does not change anything on my and @mrgcohen

[2018-02-06 15:56] blacktea commented on #64
Bind it to global redux store.
This is how I use it:

in *RootContainer*

[code]

[2018-03-21 15:47] udhay1415 opened #65 "Overlapping with my status bar"
I want my status bar to show up, but the overlay hides the entire screen. Is there a work around to prevent my status bar hiding?

[2018-03-27 12:07] SoundBlaster opened #66 "Unnecessary renders"
Component extends `React.Component` and use `state`. It causes unnecessary `render` calls. Need to extend spinner from `React.PureComponent` and remove internal `state` that is useless now.

[2018-04-05 00:58] izikandrw commented on #30
still a problem with Alerts

[2018-04-13 01:45] neo125874 commented on #41
@pavsidhu many many thanks to your solution!
I put the indicator in the modal, and no need to change my previous modal code(my modal is another library).

[2018-04-13 14:27] MedinaGitHub commented on #30
a solution that worked for me, when I make it visible true and then visible false very quickly it falls, so with a setTimeout in the false it is fixed.

WORK
this.setState({ visible:true })

   setTimeout(() => {

                  this.setState({ visible:false })

                }, 3000);

NOT WORK
this.setState({ visible:true })
this.setState({ visible:false })

[2018-05-08 09:01] 349989153 commented on #66
I think use `React.PureComponent` and do some check in `componentWillReceiveProps` will be enough:
[code]

[2018-05-28 11:13] vksgautam1 commented on #30
same issue

[2018-06-01 05:14] yingdongzhang commented on #30
@MedinaGitHub

this.setState({ visible:true })
this.setState({ visible:false })

won't work because setState is async, there's a callback function you can pass into setState:

`this.setState({ visible: true }, () => { this.setState({ visible: false }) })`

[2018-06-01 16:57] franj0 commented on #65
Same issue +1

[2018-06-06 16:02] mikaoelitiana commented on #57
I can help as well

[2018-06-25 17:43] coolboiime commented on #30
Just re-confirming here: Putting a delay on the Alert solves the issue. In addition, not sure if it's also related to my problem, hiding the Modal causes a __setState on unmounted component__ error.

[2018-07-26 09:34] ducvu91 opened #68 "spinner loading forever"
hi,
I using device oppo A83 and library
"react-native": "^0.55.4",
"react-native-loading-spinner-overlay": "^0.5.2".
When i use loading spinner  with demo code, it ok with setInterval, but when i use setTimeout, it not working. it not turn off.
It loading forever. I reload app it still there, it still show loading, I can not active on my screen. affter, i set visible : true, and reload app, it loa

[2018-07-26 10:55] #68 closed

[2018-08-07 06:52] mbret commented on #30
Using a delay on the alert does not always solves this issue. Most of the time it will but sometimes it will not and you would use another delay value... You can still use a rather long delay to cover most of the case if not every cases. ex: 300ms

[2018-08-20 02:26] d2luu commented on #58
I have the same error; anyone can tell me why?

[2018-09-16 17:59] niftylettuce commented on #58
Looking for someone to help maintain this - if anyone interested lmk, I don't use RN as much anymore

[2018-09-16 18:00] niftylettuce commented on #57
Anyone here serious about this?  Looking for someone to give collab access to - I can publish versions on NPM until I'm comfortable.

[2018-10-01 05:48] AlirezaAkbarix opened #69 "Uncompatible to react-native 0.57"
Running app via `react-native 0.57` has following error:

`react native typeerror: invalid attempt to spread non-iterable instance`

`react-native-loading-spinner-overlay` version: `0.5.2`

[2018-10-01 12:17] #69 closed

[2018-10-03 06:48] datvp09 opened #70 "[iOS] Automatic close the alert"
After calling API and set prop visible to false it automatically close the alert Success on iOS. It may related to re-render issue.
Edit: it actually hide the alert, so I can't interact with the screen

code like below:
[code]

[2018-10-04 08:13] datvp09 commented on #70
After researching somewhere and there is a solution, maybe just workaround:

[code]

[2018-10-12 20:20] niftylettuce commented on #70
@datvp09 I will be documenting this in README shortly

[2018-10-12 20:20] #70 closed

[2018-10-12 20:21] #44 closed

[2018-10-12 20:21] #24 closed

[2018-10-12 20:21] niftylettuce commented on #30
I'm going to document this solution along with using it in the root in the README of this project shortly.

[2018-10-12 20:21] #30 closed

[2018-10-12 20:27] #43 closed

[2018-10-12 20:27] #33 closed

[2018-10-12 20:28] niftylettuce commented on #50
if there is solution let us know

[2018-10-12 20:28] #50 closed

[2018-10-14 01:13] niftylettuce opened #71 "fix: resolve console warning for propTypes of <Text>"
Ref: https://github.com/facebook/prop-types/issues/228

[2018-10-28 15:12] yeomann commented on #30
while this might be a solution but i'm using redux also since states are being managed by redux, it will be a long wrong around to call `alert` and sometimes or i think most of the time. i don't need to show alert as well. i don't know how this is a fix.

[2018-11-08 21:28] ramanjaneya-karnati commented on #71
This resolved my issue chnaging
From
textStyle={styles.spinnerTextStyle}
To
textStyle={{color:"white", fontSize: 17, lineHeight: 22}}

[2018-11-13 19:07] beausmith commented on #28
Having the same issue with the `Modal` component in `"react-native": "0.55.4"` 🙁

Using a setTimeout around the `setState` which updates the `visible` prop of the `Modal` component works, albeit unreliably based upon the length of the timeout. After trying different lengths of time we settled on `1000` as a time that was long enough to "locate shadow view" but short enough to not annoy users.

If

[2018-12-04 11:39] vyasishanatc194 opened #72 "Stuck in IOS"
When alert and spinner overlay working together,

alter will dismiss but spinner overlay stuck and nothing happened.

[2018-12-11 18:07] cedoucette commented on #72
I'm having this exact same issue.

[2018-12-13 10:54] zhuang17 commented on #72
same issue here.

[2018-12-19 18:17] sryze commented on #72
I'm working on a patch for this issue: https://github.com/facebook/react-native/pull/22666, you are welcome to try it out

[2019-01-03 11:51] hery commented on #72
Hello! Same issue here, even without using an `Alert` though.
I've made sure to include the `Spinner` only in my top-level screen, but I still occasionally get a sticky spinner.

Something interesting to note is that it doesn't happen in `Debug` and `Release` builds that I build on my device, but it seems to only affect Fabric Crashlytics ad-hoc builds we deploy remotely.

This is super weird. Kee

[2019-01-11 19:09] just4fun commented on #72
Is there any workaround? Currently this issue will make the app frozen, users can only exit the app then open it again.

[2019-01-12 09:12] just4fun commented on #72
@zhuang17 - Thanks, it seems like Alert and Modal are running in same event loop then cause the issue? I remembered Modal will not be supported soon in React Native, so for long term, I think the best solution is to replace Modal with something like the modal in react navigation.

[2019-01-12 15:10] amireds commented on #72
do we have any fix for this right now

[2019-01-12 15:43] hery commented on #72
What if I'm not using an Alert, and only have a spinner in the topmost component? Any idea why I get that sticky spinner sometimes?

[2019-01-18 01:18] just4fun commented on #72
My solution for this issue is to replace `Alert(IOS)` with another message library like `react-native-message-bar`, instead of using wired workaround `setTimeout` which may has timing issue.

[2019-01-25 03:03] michaelVictoriaDev opened #73 "Customize the spinner"
Can I customize the spinner loading ?

[2019-01-25 05:14] #73 closed

[2019-01-27 13:47] JanOwiesniak opened #74 "Hide Android Navigation Bar"
I'm opening a new screen with [react-navigation](https://reactnavigation.org/) and using this component as a loading indicator. Android shows the system navigation bar at the bottom of the screen. This navigation bar disappears as soon as the spinner is not active anymore. Removing the spinner from my component, fixes this issue so i guess the component is responsible for it in some way.

![screen

[2019-01-31 12:33] JeffGuKang commented on #72
Make spinner hide after pressing `Alert` buttons.  I think it is the best way on now.

[code]

[2019-02-05 14:48] Yicru opened #75 "customIndicator not work"
Hello @joinspontaneous

The implementation of `customIndictor` not working
Here is my code:
[code]
Any advice?

Thanks.

[2019-02-28 08:00] KaneNguyen commented on #68
@ducvu91 : how to fix for issue ?

[2019-04-02 02:05] cristianoccazinsp commented on #30
Do we really need to wrap all our alerts in a timeout in order for this to work properly? Seems like a bad solution.

[2019-04-02 02:07] cristianoccazinsp opened #76 "Still maintained?"
Hello,

Just wanted to confirm if this is still maintained. I'm mostly concerned about the issue related to this when combined with alerts; the documented fix seems very hacky.

[2019-04-02 12:52] niftylettuce commented on #76
I do not know of any other known solutions

[2019-04-02 12:52] #76 closed

[2019-04-14 08:22] samsun009 opened #77 "not well working in child component"
when I put it in child component It not get started. or if started it doesnt stop.

[2019-04-18 20:28] divisble commented on #41
Another workaround can be adding the second spinner in Modal element but with different condition of showing (compared to the main spinner):
[code]
It also works like a charm. :)

[2019-05-11 10:50] aprilmintacpineda commented on #30
https://github.com/aprilmintacpineda/react-native-spinner-screen-overlay

[2019-05-11 19:35] niftylettuce commented on #30
Pull requests to fix bugs are accepted.

[2019-05-11 19:36] niftylettuce commented on #77
PR accepted.  Please provide a reproducible test case.

[2019-05-11 19:36] #77 closed

[2019-05-11 19:36] niftylettuce commented on #75
PR accepted.  Please provide a reproducible test case.

[2019-05-11 19:36] #75 closed

[2019-05-11 19:36] niftylettuce commented on #72
PR accepted.  Please provide a reproducible test case.

[2019-05-11 19:36] #72 closed

[2019-05-11 19:36] niftylettuce commented on #74
PR accepted.  Please provide a reproducible test case.

[2019-05-11 19:36] #74 closed

[2019-05-13 15:45] martnst opened #79 "Wrong topic / labl"
This repo should not be labeled as `progress-bar`. Thx

[2019-05-13 16:49] #79 closed

[2019-05-15 08:42] martnst commented on #79
The label was not removed… please review.

[2019-05-15 09:08] niftylettuce commented on #79
not removing

[2019-05-15 09:13] martnst opened #80 "Wrong topic / label (response to #79)"
In repsonse to #79:

Please understand what a progress-bar is  and act accordingly.

`[********·················· ]`

This module is a "Loading Spinner Overlay". The topic label `progress-bar` is misleading people here.

 Thanks.

[2019-05-15 09:15] niftylettuce commented on #80
No, it is not.  Please do not open another issue like this on the repository or you will be blocked.

A spinner indicates progress, a loading bar is also known as a progress bar, something is happening, it is loading.  The act of loading is an act of progress.

[2019-05-15 09:15] #80 closed

[2019-05-15 09:24] martnst opened #81 "Response to #80"
Since you keep closing the conversation i have to reopen new issues once again. I would have preferred a single issue to discuss arguments. Anyway, feel free to block everybody who has some contra arguments, if this is your way of handling things.

---

Answer on #80:

I am sorry, i have to disagree. I a spinner does not indicate progress. It only indicates activity. Hence it is name ActivityIndic

[2019-05-15 09:27] niftylettuce commented on #81
Take your trolling somewhere else.  This is my project.  These are my opinions.    I've reported you to GitHub and blocked you completely.  The time you spent worried about this issue you could actually have made some meaningful contributions to open source.

[2019-05-15 09:27] #81 closed

[2019-05-16 14:32] cristianoccazinsp opened #82 "Spinner stuck if combined with an alert."
Following https://github.com/joinspontaneous/react-native-loading-spinner-overlay/issues/61 and https://github.com/joinspontaneous/react-native-loading-spinner-overlay/issues/72

Spinner/modal getting stuck is still an issue that happens more often than one would want. The timeout fix is really not appropriate if you are showing the spinner automatically through redux state changes, or from other

[2019-05-16 18:44] niftylettuce commented on #82
Did you try removing/changing what happens with L139?  Let me know if you fixed it and we can get it patched here.  Feel free to submit PR.

[2019-05-16 18:48] cristianoccazinsp commented on #82
I will be testing that later tonight since my current code can't reproduce
the issue easily. I was asking mainly to confirm if that wasn't tested
already so I don't spend time on it haha.

El jue., 16 de mayo de 2019 15:44, niftylettuce <notifications@github.com>
escribió:

[2019-05-16 20:51] cristianoccazinsp commented on #82
That didn't work, neither some other stuff I have tried. However, the culprit is really the cancelable flag:  https://github.com/joinspontaneous/react-native-loading-spinner-overlay/blob/master/index.js#L111

IOS can't seem to render properly an alert and modal at the same time, so when the new alert fires, the  request close method of the modal is also fired. Not handling this close request prett

[2019-05-16 21:43] cristianoccazinsp commented on #82
Update: Nope, it's not this neither... Sigh.

[2019-05-24 15:03] vedev9 commented on #82
Same problem here

[2019-05-28 13:40] Mavenic commented on #58
Did anyone get solutions for this?

[2019-06-05 22:35] samithaf commented on #82
Isn't this cause by classic "view is not in the window hierarchy" ios error? If you open up the xcode you can see the warning;)

[2019-06-06 19:29] tattivitorino commented on #82
Well, I'm quite sure it must not be the best way but my workaround for now is wrapping the showAlert in a setTimeout of 500 so it gives the right amount of time to close the spinner in order to open the alert... if any of you find a more "right" way to fix it we all appreciate.. cheers

[2019-06-06 22:14] samithaf commented on #82
Yesterday I tried out wrapping up MBProgressHUD (https://github.com/jdg/MBProgressHUD) with a react native bridge so that I can use within react native view. So far seems working fine with Alert component without colliding. I will post a gist or sample code once I have tested with more devices.

[2019-06-06 22:27] cristianoccazinsp commented on #82
Interesting. Could that be used with this library such that IOS uses that
one, while android keeps the current behaviour?

El jue., 6 de junio de 2019 19:14, Samitha Fernando <
notifications@github.com> escribió:

[2019-06-07 00:12] samithaf commented on #82
Technically you can or you can use MBProgressHUD version for Android too, which is awesome. Those modules are pretty popular!. Here is a sample implementation and works perfectly well with Alerts and also look and feel is super neat.

Here is a sample implementation. I will create a node module soon...

https://gist.github.com/samithaf/83efbc7b6d86448d0e4e426c68b29985

[2019-07-16 08:33] phongle2512 commented on #82
Got the same issue, have to do the workaround as tattivitorino's comment. Hope this will be fixed soon

[2019-07-17 04:31] cereme commented on #82
Same issue here. But it only stucks on iOS.

And this works well. Thanks @tattivitorino, Hope some fix to this issue.

[2019-07-19 22:40] kimihiro64 opened #83 "Spinner gets stuck if visible changed too quickly (iOS)"
I'm using redux state to show/hide the spinner on applicable screens, and I have a few calls that return very quickly, causing state to reset around .5 seconds after spinner was shown. It gets stuck in iOS very similar to the problems between spinner and Modal and spinner and Alert, to the point where you have to kill the app because the loading overlay stays between app reloads. I can't add a tim

[2019-08-29 06:45] Manish123Pandia opened #85 "Spinner get stuck in background IOS only"
When we lock the screen then the spinner then spinner percentage is stuck and it is not increase

[2019-09-05 09:52] awartani opened #86 "iOS - Stuck with random patterns"
I don't have a specific flow, but when using the app and changing the state (show/hide) it will get stuck and causing a real issue because it wasn't clear if it stuck because the API load failed or something else.

I don't recommend using it because it at this point, it will freak the hell out of you to understand what's going on

[2019-09-18 08:03] sekizlipenguen commented on #85
+

[2019-10-14 06:40] RahulNainwal opened #87 "not working with children property"
spinner-overlay is not working using children property.
I am doing something like this :
[code]
renderChildren is a arrow function like this:
[code]

[2019-11-03 16:49] hosembafer commented on #82
Same issue when using with `react-native-root-toast`

[2019-11-12 23:11] vedmant commented on #86
I have the same issue on iOS, it just keep visible even when prop visible is false after it's turned on and off few times fast.

[2019-12-21 13:38] vnd-ranga opened #89 "Missing SpinnerProps in Types Scripit"
// Type definitions for react-native-loading-spinner-overlay 0.5
// Project: https://github.com/joinspontaneous/react-native-loading-spinner-overlay
// Definitions by: fhelwanger <https://github.com/fhelwanger>
// Definitions: https://github.com/DefinitelyTyped/DefinitelyTyped
// TypeScript Version: 2.8

import * as React from "react";
import * as ReactNative from "react-native";

export interface

[2019-12-23 09:33] nmohamedtharik opened #90 "Need Callback: once completely stops spinner loading, we need one callback function."

[2020-02-24 00:14] #83 closed

[2020-04-09 02:23] Shing-Ho opened #96 "in 0.62 it's not working well."
It's not showing spinner as well in the react-native version 0.62.
Not sure about the reason.
https://github.com/facebook/react-native/issues/28098
similar with this issue?

[2020-04-13 08:46] net5566 opened #97 "Is it possible to support onPress ?"
Dear author,

I use this package in my project for some loading scenes.

For some scenes, I want to add the cancel function.

What I want:
On some spinning scene, It will show an Alert to ask users if they want to cancel the loading processing after I press the screen.

Is it possible?

[2020-04-28 09:54] gaqraa92 opened #98 "Spinner is not spinning on specific Android device"
Spinner is not spinning or animated it looks like a static image.
Device information: Google Pixle Android 10.0.
Please advise.

[2020-05-04 09:10] ziaulrehman40 commented on #96
works for me though

[2020-05-04 09:11] Shing-Ho commented on #96
Well, sometimes works but sometimes not works.

[2020-05-06 07:37] omrison commented on #98
+1 to that issue...
is this repository active?

[2020-05-23 01:58] hemche opened #99 "Support "statusBarTranslucent" by upgrading to latest react native"
Add `statusBarTranslucent ` prop to `<Modal>` component which is introduced in latest react native. This will fix the below issue with your library.

![Screenshot_1590198965](https://user-images.githubusercontent.com/4380406/82719302-4328a580-9c77-11ea-955e-e41ffb649b1b.png)

[2020-06-26 06:14] kdpadhiyar opened #100 "When i navigate to another screen and at that screen i have used spinner but its not working"
there is listed screen
in that screen i have see all button which navigates to another inside screen
on that screen its not appears when its set to active.
help
@niftylettuce

[2020-07-23 19:43] djMax opened #101 "After dismissing the spinner, I can't tap on anything"
I have the spinner component integrated at the top of the stack, like so:

[code]

When the app starts, everything is fine. When I click a button that sets shouldShowSpinnerOverlay to true and then false after 5 seconds, I can no longer press anything in the UI. I notice a UITransitionView is in the view hierarchy in xcode, which seems supsicious. RN 0.63.1

[2020-07-23 19:51] djMax commented on #101
This happens even with a vanilla RN modal, so I have no idea what to make of that.

[2020-07-23 20:22] djMax commented on #101
This appears to be an incompatibility between react-navigation and react-native Modal. So as a result, I don't think one can use react-native-loading-spinner-overlay with react-navigation.

[2020-07-23 20:22] #101 closed

[2020-07-23 21:45] djMax commented on #101
For posterity, it was actually *Flipper* causing it https://github.com/facebook/flipper/issues/1399

[2020-08-10 23:46] infiniteline opened #102 "No longer works with RN 0.63.2"
I have an Android/iOS project that used this library without issue. However, after upgrading RN to 63.2, it only shows a white screen in my project now.

[2020-08-11 04:23] infiniteline commented on #102
Sorry. Turns out that I'm having a problem with a different package.

[2020-08-11 04:23] #102 closed

[2020-08-13 11:58] Harshitha-syn opened #103 "Font Family"
Below is the code snippet in which am trying to provide font-family to the spinner text. It is only taking the color and size but not the font family. Kindly revert if there is any solution for this.

<Spinner visible={spin} textContent={'Loading...'} textStyle={styles.spinnerTextStyle}/>
Provided styling:
spinnerTextStyle: {color: '#FFF', fontFamily: 'Avenir-Heavy', fontSize:17}

[2020-08-16 05:16] baharb commented on #101
Hi djMax,
I had this problem and I used this trick. I placed the Spinner inside a View tag, and I hide the View, after the page completely loaded.

<View style={(this.state.spinner) ? {flex:1, flexDirection:'column'} : {display:'none', height: 0}}>
      <Spinner
                        visible={this.state.spinner}
                        textContent={'Loading...'}
                        textStyl

[2020-09-11 19:41] ahmedmohamedxyz commented on #103
could you give screenshot of the text after you apply the new font.

[2020-09-15 10:39] Harshitha-syn commented on #103
![Loader](https://user-images.githubusercontent.com/53002216/93200372-45a29400-f76d-11ea-93d0-ec42f6217bfb.png)
I tried giving this styling fontFamily: 'Avenir-Heavy'. But it is still the same even after giving the font family.

[2020-09-15 10:41] Harshitha-syn commented on #103
I tried giving this styling fontFamily: 'Avenir-Heavy'. But as shown in the attached screenshot, it is still the same even after giving the font family.
![Loader](https://user-images.githubusercontent.com/53002216/93200883-06287780-f76e-11ea-81c6-002ca14fd131.png)

[2020-10-13 17:04] amirhs712 commented on #103
@Harshitha-syn

React Native has trouble with `fontWeight: bold` which is why your `fontFamily` is not working correctly.
A workaround can be to set `fontWeight` in your `spinnerTextStyle` to anything other than `bold` (which overrides the default bold fontWeight set by the package).

In the end, I don't think this is an issue with the package itself.

[2020-10-13 17:04] #103 closed

[2020-10-13 17:05] niftylettuce commented on #99
PR welcome

[2020-10-13 17:06] #98 closed

[2020-10-13 17:06] niftylettuce commented on #97
You would have to implement your own custom logic

[2020-10-13 17:06] #97 closed

[2020-10-13 17:06] #96 closed

[2020-10-13 17:06] niftylettuce commented on #90
PR welcome

[2020-10-13 17:06] #90 closed

[2020-10-13 17:07] niftylettuce commented on #99
Closing this, but if you want to submit a PR like I said I will review/accept

[2020-10-13 17:07] #99 closed

[2020-10-13 17:07] niftylettuce commented on #89
Sorry I don't support TypeScript

[2020-10-13 17:07] #89 closed

[2020-10-13 17:07] #100 closed

[2020-10-13 17:08] niftylettuce commented on #85
PR welcome to fix

[2020-10-13 17:08] #85 closed

[2020-10-13 17:09] niftylettuce commented on #82
RN is super buggy and I stopped using it, something native as you mentioned (MBProgressHUD) would probably do the trick

[2020-10-13 17:09] #82 closed

[2020-10-13 17:09] niftylettuce commented on #71
PR welcome

[2020-10-13 17:51] hemche commented on #99
Thanks @niftylettuce PR is up here https://github.com/joinspontaneous/react-native-loading-spinner-overlay/pull/104

[2020-10-13 18:14] niftylettuce commented on #99
v2.0.0 released to npm https://github.com/joinspontaneous/react-native-loading-spinner-overlay/releases/tag/v2.0.0

[2020-11-30 04:13] damialajogun opened #105 "Spinner is not staying on screen and may be causing a function to not work. Please help!"
Hi,
I have non-consumable products in my app and I'm using RN's In-app purchase function for that purpose. There is a delay between when the user presses the "buy" button and when the purchase screen comes up, so I'm trying to display a spinner in the meantime until the purchase screen comes up so the user knows that something is happening. However, I can't seem to get it to work properly.

I'm ru

[2020-12-01 23:58] #105 closed

[2021-02-01 15:11] JairoJB99 opened #106 "Cancelable Spinner"
Hi, I have a problem when using the spinner and it is that I pass them the property "cancelable={true}" to be able to cancel the spinner when the back button of my mobile device is pressed, but it doesn't do it. I have tried to overwrite the back action with React Navigation 5 and change the value of "visible" to false but it didn't work.
[code]

[2021-02-02 09:58] Harshitha-syn commented on #106
Even I am facing the same issue.
<Spinner
            visible={spinStatus}
            textContent={'Loading...'}
            cancelable={true}
          />

[2021-03-04 13:02] Salman-Shaik opened #108 "Is it really for React-Native?"
Is it really for React-Native cause you are using React in the code and it forces users to use React in their code.

[2021-03-23 10:21] AndreCosta101 commented on #58
2020 still no solution.

[2021-03-23 20:39] DavidLuong98 commented on #58
@AndreCosta101 2021 my guy

[2021-04-12 07:53] elsurudo opened #110 "Dismissing spinner also dismisses modal"
On a promise resolution from a `fetch` call, I do two things:

1. Hide the spinner by setting a state variable bound to `<Spinner visible={myVar} ... />
2. Display a `react-native-navigation` modal using `Navigation.showModal(...)`

I have found that having (1) here means the modal is immediately hidden, right after being presented.

Any ideas what could be going wrong here, and how these two thin

[2021-06-14 03:22] luatvudinh commented on #110
Same issue here!!!!!

[2021-06-14 08:12] elsurudo commented on #110
FYI I wasn't able to resolve this any other way, and simply stopped using this library.

I ended up simply creating my own overlay, and simply displaying is as an [Overlay with react-native-navigation](https://wix.github.io/react-native-navigation/docs/overlay/), which ended up being really easy.

[2021-06-14 08:16] elsurudo commented on #110
Here's a gist of my code which you could adapt: https://gist.github.com/elsurudo/0cc2edb118d63370f086cb5a8b1b0e00

You would just need to register the component in the typical RNN way.

[2021-06-29 10:30] imavipatel commented on #106
Did you find the solution?

[2021-06-29 10:31] imavipatel commented on #106
Did you find the solution?

[2021-10-28 16:37] IcE4k777 opened #112 "App unresponsive on iOS 15 after enabling then disabling"
After enabling the overlay by setting the visible prop to true, followed by setting visible to false, the spinner overlay appears and disappears as expected, however, after the spinner overlay disappears, the app is unresponsive. I'm guessing something to do with iOS 15 or possibly the latest version of react-native. Nothing is crashing. I haven't looked at the source code, however, my hunch is th

[2021-11-08 13:29] josemojena commented on #112
I have the same issue here!!! It is like the modal still overlays over the screen, which makes it impossible to interact with it.

[2022-01-21 16:16] cristianoccazinsp opened #113 "2.0.0 to 3.0.0 migration?"
Just updated and the spinner stopped working (not showing at all).

Has something changed?

[2022-01-21 16:26] niftylettuce commented on #113
I just deprecated v3.0.0, not sure what issue is, I thought it was OK with recent PR's but maybe not.  I also don't have time to dedicate to this.

[2022-01-21 16:38] irohitb commented on #113
@niftylettuce I am looking into it.
Should be something wrong with my PR i guess.

[2022-01-21 16:44] irohitb commented on #113
@cristianoccazinsp can you please share your code snippet?

I tried this and it is working for me
[code]

[2022-01-21 16:46] cristianoccazinsp commented on #113
I'm using the following:

[code]

[2022-01-21 16:50] irohitb commented on #113
@cristianoccazinsp This looks the same as the code snippet I shared. Did 2.x? worked for you? Happy to get on a video call and debug it with you.

[2022-01-21 16:55] cristianoccazinsp commented on #113
2.x works fine as I just reverted.  If that's working for you, it means some other component is interfering with my code. I will try to debug later today, can't really join a meeting right now.

I'm using the following packages as well.
 "react-native": "0.66.3",
 "react-native-screens": "3.10.2",
"react-native-gesture-handler": "2.2.0",
"@react-navigation/compat": "5.3.20",
"@react-navigation/nat

[2022-01-21 16:57] irohitb commented on #113
No worries, Can you share `variables.sizeScaling` value?

[2022-01-21 16:58] cristianoccazinsp commented on #113
It's normally `1`, but it changes slightly for bigger devices.

I'm not seeing the overlay at all, the modal pretty much does not open and I can freely tap anywhere on the screen.

[2022-01-21 17:51] cristianoccazinsp commented on #113
@irohitb your example seems to work fine, I don't know what's wrong with my project that would cause such an issue.

However, looking at your project, you have very old dependencies, can you try upgrading the ones I linked above?

[2022-01-21 18:06] cristianoccazinsp commented on #113
@irohitb have you tried rendering the spinner with visible={false} first? I'm not sure the following line is doing what it should:
https://github.com/joinspontaneous/react-native-loading-spinner-overlay/blob/master/src/index.tsx#L42

The issue was probable created in the hooks migration.

[2022-01-21 18:39] irohitb commented on #113
@cristianoccazinsp This makes sense. I will fix it.

[2022-01-21 19:10] irohitb commented on #113
@cristianoccazinsp @niftylettuce opened PR:
https://github.com/joinspontaneous/react-native-loading-spinner-overlay/pull/115/files

[2022-01-25 11:23] irohitb commented on #113
@cristianoccazinsp can you please test this once? so that @niftylettuce  can remove `deprecated` from `npm`

[2022-01-25 12:57] cristianoccazinsp commented on #113
@irohitb I believe it's working fine now.

[2022-01-26 07:34] erez-unitronics commented on #113
@cristianoccazinsp Still not working

[2022-01-26 13:10] irohitb commented on #113
@erez-unitronics this isn't released on npm yet. CC @niftylettuce?

[2022-01-26 13:16] niftylettuce commented on #113
See https://github.com/joinspontaneous/react-native-loading-spinner-overlay/pull/115#issuecomment-1019375265

[2022-02-14 06:49] mohsinghafoor commented on #58
2022 still no solution

[2022-03-16 09:50] erez-unitronics commented on #113
Is v3.0.0 of the package working correctly now?

[2022-05-06 09:43] Abhishek2250 commented on #113
Not showing for me either

[2022-05-06 09:44] irohitb commented on #113
@Abhishek2250 @emclab I broke it a while back, Haven't got time to fix it.

Doing it now.

[2022-05-09 12:16] CBYMachumbe commented on #112
Hey @josemojena did get a work around for the mentioned issue.

[2022-05-10 07:01] fukemy commented on #108
it's typescript code, also react native code bro

[2022-06-02 11:16] Salmankhan033 commented on #113
I updated 2.0.0 to 3.0.0 but did not  show Spinner .

`<Spinner overlayColor={'rgba(0, 0, 0, 0.65)'} cancelable={false} visible={visible} textContent={spinnerText ? spinnerText : 'Synching data'} textStyle={styles.textStyle} />`

[2022-06-05 16:55] omeranar1 opened #118 "Host key verification failed fatal: Could not read from remote repository."
Output:
Host key verification failed.
fatal: Could not read from remote repository.

[2022-06-16 10:57] hrodric-baptista opened #119 "fixing android navigation bar popping up in apps that don't use it"
I am having an issue with my app that's fairly annoying.
By default, my app hides the android navigation bar as soon as it loads, this is because it isn't really needed and the user can swipe up whenever he wants to leave the app.
Problem: Everytime the spinner is loaded, the navigation bar pops up for how much time the app takes loading, for example, if one of my screen takes 2 seconds to load, t

[2022-07-01 10:53] hrodric-baptista commented on #119
solved

[2022-07-01 10:53] #119 closed

[2022-07-06 22:07] martaaay commented on #113
I haven't spent nearly long enough in the source (nor latest react-native) to understand what's going on, but when I changed the code in index.tsx from:
[code]
to
[code]
Now it works properly when starting with visibility == false and changing it to true later. Not sure why it works now, and I'm not familiar with how React.useState works, but it seems as though this is where things are breaking.

[2022-07-18 04:28] nickty commented on #58
2022 still no solution ?

[2022-07-27 15:42] Poxios commented on #113
Thank you for your efforts.
When will the fixed version be updated?

[2022-07-27 16:37] irohitb commented on #113
Fixing this now.

[2022-07-27 16:57] irohitb commented on #113
Any idea why the `create pull request` button is disabled?

<img width="1068" alt="Screen Shot 2022-07-27 at 10 25 52 PM" src="https://user-images.githubusercontent.com/32276134/181305692-513efdd1-9c7a-4a19-8aef-701ddc068ed9.png">

[2022-07-27 18:56] irohitb commented on #113
@titanism I have fixed and pushed it to master? how does the release process works? Do you create it manually? I can't see any git action or semantic release (or equivalent) setup?

[2022-07-27 19:10] titanism commented on #113
Are you certain that your recent commits fixes the issue?  As far as I know, users reported it broken since this commit https://github.com/ladjs/react-native-loading-spinner-overlay/commit/ff3ca51e7a4ed8d4b0d7b9c727a2236c145a4a7b.  I think that TypeScript definition fixes do not equate to fixing the underlying issue.  Your recent commits only modified `package.json`, `tsconfig.json`, and `yarn.loc

[2022-07-27 19:11] titanism commented on #113
After further review, we see that your work was merged however the issue was that TS errors on build.  Will release a new version now, one moment.

[2022-07-27 19:30] titanism commented on #113
@irohitb can you please pull the latest that we've pushed to `master` and fix the following TS lint errors?  We do not write TypeScript so we're unable to work with this:

[code]

[2022-07-28 08:28] irohitb commented on #113
@titanism okay recent dependency update added eslint which was causing these rules to break.

I have fixed it but couldn't get this error when I ran tests

Also, Function should infer types automatically in this case (although it's probably good to write them).

I have created this PR, Can you please once see if the test cases pass and merge it?

https://github.com/ladjs/react-native-loading-spinn

[2022-07-28 15:29] titanism commented on #113
v3.0.1 released - try it out?

https://github.com/ladjs/react-native-loading-spinner-overlay/releases/tag/v3.0.1

[2022-07-28 15:29] #113 closed, assigned to nobody

[2022-08-11 06:49] fukemy commented on #112
Lol i just write native module then call SVProgressHUD..., forget this lib

[2022-08-26 07:30] fukemy commented on #106
no solution here

[2022-09-24 12:10] mdbaniani commented on #112
IMO just use and configure the build in ActivityIndicator for react-native. no point in using this library